aside {
  margin: auto 0 auto 2em;
  text-align: left;
}

aside li {
  display: inline-block;
}

aside a img {
  margin: auto 0.6em;
  width: 25px;
}

#blank_bottom{
  display: none;
}

body {
  background: url('../img/background.png') repeat-x 98% bottom fixed, #FFFFFF;
  color: #4F4F4F;
  font-size: 16px;
  font-family: helvetica, arial;
  margin: auto;
}

.client_logo {
  height: 50px;
}

#content {
  background-color: #EFEFEF;
  height: 21.5em;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  transition: margin 0.6s ease;
  width: 49.5em;
}

.details {
  display: none;
  padding: 0 1.5em;
}

h1, h2, h3 {
  margin: 0;
  font-size: 1em; 
}

header{
  text-align: center;
  margin: auto;
}

#header_left{
  display: inline-block;
  height: 12em;
  margin: auto 24% auto 0.5em;
}

#header_logo {
  text-align: right;
  margin: auto;
  height: 7em;
}

#header_right {
  display: inline-block;
  vertical-align: bottom;
  margin: -1em auto 1em;
}

#in2teck_main {
  background: url('../img/in2teck_logo.png') no-repeat 100% center;
  background-size: 250px 96px;
  cursor: pointer;
  margin: 1em 0;
  height: 96px;
  width: 250px;
}

.info {
  bottom: 0;
  font-size: 0.8em;
  left: 0;
  margin-bottom: 2em;
  position: absolute;
  right: 0;
  text-align: center;
}

.info a {
  background-color: #FFFFFF;
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em;
}

.info a:hover {
  background-color: #DADADA;
}

nav {
  text-align: left;
  width: 100%;
}

nav a {
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em;
}

nav a:hover {
  background-color: #EFEFEF;
}

nav li{
  display: inline-block;
}

nav li h1{
  display: inline-block;
  font-weight: normal;
}

nav ul{
  padding: 0;
}

p {
  margin: 0;
}

.selected {
  background-color: #EFEFEF;
  color: #F45D11;
}

.sub_selected {
  color: #F45D11;
}

.submenu_selected {
  background-color: #EFEFEF;
}

.showcase {
  text-align: center;
}

.showcase_img {
  height: 10em;
  margin: 0.5em 1em;
}

#slider-code { height: 2em;}
#slider-code .viewport {float: left; width: 98%; height: 2em; overflow: hidden; position: relative; }
#slider-code .buttons { font-family: 'Arial Black';}
#slider-code .buttons:hover { cursor: pointer; }
#slider-code .prev { float: left; margin: 0.2em 0.2em auto -1em;}
#slider-code .next { float: right; margin: 0.2em -1em auto 0.5em;}
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-code .overview li{ float: left; margin: 0.6em 0.1em 0; height: 2em;  width: auto;}

.tagline {
  font-weight: bold;
  opacity: 1;
  text-align: center;
  transition: all 0.6s ease;
}

.t_top {
  margin: 0.5em auto 1em;
}

@media screen and (max-width:830px) {
  #content {
    width: 90%;
    height: auto;
  }
  
  .info {
    margin-bottom: 1em;
    position: relative;
  }
}

@media screen and (max-width:690px) { 

  aside a img {
    margin: 0 0.3em;
  }

  #blank_bottom {
    display: block;
    height: 7em;
  }

  #content {
    width: 85%;
    height: auto;
    position: static;
  }

  header {
    position: fixed;
    top:-0.5em;
    height: 9em;
    background: inherit;
    width: 100%;
  }
  
  #header_left {
    position: relative;
    display: block;
    top: -20px;
    width: 100%;
    margin: auto;
  }

  #header_logo {
    float: left;
    width: 50%;
  }

  #header_logo img {
    margin: 0;
  }

  #header_right {
    margin: auto 1em auto auto;
    position: absolute;
    top: -20px;
    right: 0;
  }

  #header_social {
    display: inline-block;
    margin-top: 3em;
  }
  
  #in2teck_main {
    background: url('../img/in2teck_t_logo.png') no-repeat 20% center;
    background-size: 180px 60px;
    margin: 1em 0;
  }

  .info {
    margin-bottom: 1em;
    position: relative;
  }

  nav {
    text-align: center;
  }

  nav ul {
    padding: 0;
  }
 
  nav li {
    width: 30%;
  }
  
  #slider-code .viewport {width: 86%; }
  #slider-code .overview li{ margin: 0.3em 0.1em 0; }
  #slider-code .buttons { font-family: arial; font-size: 2em; }
  #slider-code .prev { margin: -0.2em 0.2em auto -0.3em; }
  #slider-code .next { margin: -0.2em -0.3em auto 0.2em; }

  section {
    margin-top: 9em;
  }

  ul {
    padding: 0 0 0 1.5em;
  }

}
