aside {
  margin: auto 0 auto 1em;
  text-align: right;
}

aside li {
  display: inline-block;
}

aside a img {
  margin: auto 0.6em;
  width: 25px;
}

#blank_bottom {
  display: none;
}

#blank_content {
  display: none;
}

body {
  background: url('../img/background.png') repeat-x 98% bottom fixed, #FFFFFF;
  color: #4F4F4F;
  font-size: 16px;
  font-family: helvetica, arial;
  margin: auto;
}

.button {
  font-size: 0.8em;
  margin: 2em 1em 1em 1em;
  text-align: center;
}

.button a {
  background-color: #FFFFFF;
  color: #4F4F4F;
  padding: 0.5em;
  text-decoration: none;  
}

.button a:hover {
  background-color: #DADADA;
}

.client_logo {
  height: 50px;
}

#content {
  background-color: #EFEFEF;
  height: 18em;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  transition: margin 0.6s ease;
  width: 41em;
}

#formulario {
  text-align: center;
  width: 100%;
}

#formulario .field {
  display: inline-block;
  width: 50%;
  text-align: left;
}

#formulario .text {
  display: inline-block;
  width: 50%;
  text-align: left;
  margin-top: 1em;
}

#formulario .label {
  display: inline-block;
  margin-left: 22%;
  width: 20%;
  text-align: left;
}

#formulario input {
  border: none;
  margin-top: 1em;
  width: 16.5em;
}

#formulario textarea {
  border: none;
  height: 7em;
  width: 16.5em;
}

h1, h2, h3 {
  margin: 0;
  font-size: 1em; 
}

header{
  text-align: center;
  width: 100%;
}

#header_left{
  display: inline-block;
}

#header_logo {
  text-align: right;
  height: 7em;
  margin: auto;
}

#header_right {
  display: inline-block;
  margin: 0 1em 0 10em;
}

#in2teck_main {
  background: url('../img/in2teck_logo.png') no-repeat 100% center;
  background-size: 250px 96px;
  cursor: pointer;
  margin: 1em 0;
  height: 96px;
  width: 250px;
}

#informacion {
  bottom: 0;
  position: absolute;
  width: 100%;
}

#informacion #mail {
  float: right;
  margin: 1em 1.5em;
}

#informacion #phone {
  float: left;
  margin: 1em auto;
}

#informacion a {
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em;
}

#informacion a:hover{
  background-color: #FFFFFF;
}

nav {
  text-align: right;
  width: 100%;
}

nav a {
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em;
}

nav a:hover {
  background-color: #EFEFEF;
}

nav li{
  display: inline-block;
}

nav li h1{
  display: inline-block;
  font-weight: normal;
}

nav ul{
  padding: 0 0 0 0.7em;
}

p {
  margin: 0;
}

.selected {
  background-color: #EFEFEF;
  color: #F45D11;
}

.tagline {
  font-weight: bold;
  opacity: 1;
  text-align: center;
  transition: all 0.6s ease;
}

.t_top {
  margin: 1em auto 2em;
}

@media screen and (max-width:730px) {

  aside a img {
    margin: 0 0.3em;
  }

  #blank_bottom {
    display: block;
    height: 6em;
  }

  #blank_content {
    display: block;
    height: 2em;
  }

  #content {
    width: 80%;
    height: auto;
    position: static;
  }

  #formulario .field {
    width: 70%;
  }

  #formulario .text {
   width: 70%;
  }

  #formulario .label {
    margin: auto 5% auto 0;
    width: 20%;
  }

  #formulario input {
    width: 95%;
  }

  #formulario textarea {
    width: 95%;
    height: 10em;
  }

  header {
    position: fixed;
    top:-0.5em;
    height: 9em;
    background: inherit;
  }
  
  #header_left {
    position: relative;
    top: 5.5em;
    width: 100%;
  }

  #header_logo {
    float: left;
    width: 50%;
  }

  #header_logo img {
    margin: 0;
  }

  #header_right {
    left: 0;
    margin: 0;
    position: absolute;
    top: -20px;
    width: 100%;
  }

  #header_social {
    display: inline-block;
    margin-top: 3em;
  }

  #in2teck_main {
    background: url('../img/in2teck_t_logo.png') no-repeat 20% center;
    background-size: 180px 60px;
    margin: 1em 0;
  }
  
  #informacion {
    bottom: 2em;
    font-size: 0.8em;
    position: relative;
  }

  #informacion #mail {
    margin-right: -1em;
  }

  nav {
    text-align: center;
  }

  nav ul {
    padding: 0;
  }
 
  nav li {
    width: 30%;
  }

  section {
    margin-top: 9em;
  }

  .t_top {
    margin: 1em auto 2em;
  }

  ul {
    padding: 0 0 0 1.5em;
  }

}
