aside {
  margin: auto 0 auto 1em;
  text-align: right;
}

aside li {
  display: inline-block;
}

aside a img {
  margin: auto 0.6em;
  width: 25px;
}

#blank_bottom{
  display: none;
}

body {
  background: url('../img/background.png') repeat-x 98% bottom fixed, #FAFAFA;
  color: #4F4F4F;
  font-size: 16px;
  font-family: helvetica, arial;
  margin: auto;
}

button {

}

.client_logo {
  height: 50px;
}

#content {
  background-color: #EFEFEF;
  height: 18em;
  margin: 0 auto;
  padding: 1em;
  position: relative;
  transition: margin 0.6s ease;
  width: 41em;
}

h1, h2, h3 {
  margin: 0;
  font-size: 1em; 
}

hgroup {
  font-size: 0.8em;
  text-align: left;
  width: 54em;
  margin: 1.5em auto 2.5em;
}

hgroup a {
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em 0.1em;
}

hgroup a:hover {
  background-color: #EFEFEF;
}

hgroup h2 {
  font-weight: normal;
  display: inline-block;
  margin: auto 0.5em;
}

header{
  text-align: center;
  width: 100%;
}

#header_left{
  display: inline-block;
}

#header_logo {
  text-align: right;
  height: 7em;
  margin: auto;
}

#header_right {
  display: inline-block;
  margin: 0 1em 0 10em;
}

#in2teck_main {
  background: url('../img/in2teck_logo.png') no-repeat 100% center;
  background-size: 250px 96px;
  cursor: pointer;
  margin: 1em 0;
  height: 96px;
  width: 250px;
}

nav {
  text-align: right;
  width: 100%;
}

nav a {
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em;
}

nav a:hover {
  background-color: #EFEFEF;
}

nav li{
  display: inline-block;
}

nav li h1{
  display: inline-block;
  font-weight: normal;
}

nav ul{
  padding: 0 0 0 0.7em;
}

p {
  margin: 0;
}

.selected {
  background-color: #EFEFEF;
  color: #F45D11;
}

.tagline {
  font-weight: bold;
  opacity: 1;
  text-align: center;
  transition: all 0.6s ease;
}

.t_top {
  margin: 1em auto 2em;
}

@media screen and (max-width:730px) {

  aside a img {
    margin: 0 0.3em;
  }

  #blank_bottom {
    display: block;
  }

  #content {
    width: 80%;
    height: 13em;
    position: static;
  }

  header {
    position: fixed;
    top:-0.5em;
    height: 10em;
    background: inherit;
  }
  
  #header_left {
    position: relative;
    top: 5.5em;
    width: 100%;
  }

  #header_logo {
    float: left;
    width: 50%;
  }

  #header_logo img {
    margin: 0;
  }

  #header_right {
    left: 0;
    margin: 0;
    position: absolute;
    top: -20px;
    width: 100%;
  }

  #header_social {
    display: inline-block;
    margin-top: 3em;
  }

  #in2teck_main {
    background: url('../img/in2teck_t_logo.png') no-repeat 20% center;
    background-size: 180px 60px;
    margin: 1em 0;
  }

  nav {
    text-align: center;
  }

  nav ul {
    padding: 0;
  }
 
  nav li {
    width: 30%;
  }

  section {
    margin-top: 10em;
  }

  .t_top {
    margin: 1.5em auto;
  }

  ul {
    padding: 0 0 0 1.5em;
  }

}
