aside {
  margin: auto 0 auto 2em;
  text-align: left;
}

aside li {
  display: inline-block;
}

aside a img {
  margin: auto 0.6em;
  width: 25px;
}

#blank_bottom{
  display: none;
}

body {
  background: url('../img/background.png') repeat-x 98% bottom fixed, #FFFFFF;
  color: #4F4F4F;
  font-size: 16px;
  font-family: helvetica, arial;
  margin: auto;
}

.client_logo {
  height: 50px;
}

#content {
  height: 18em;
  margin: 0 auto;
  padding: auto;
  position: relative;
  text-align: center;
  transition: opacity 0.6s ease;
  width: 41em;
}

#main_container{
  float: left;
  margin: auto 1em auto 1.5em;
}

#main_content{
  width: 100%;
}

#news{
  background-color: #FFFFFF;
  display: inline-block;
  margin: 4em 1em;
  padding: 1em;
  vertical-align: top;
  height: 16.3em;
  width: 12.5em;
}

#news_content {
  font-size: 0.8em;
}

#news_content ul{
  padding-left: 1.3em;
}

h1, h2, h3 {
  margin: 0;
  font-size: 1em; 
}

header{
  text-align: center;
  margin: auto;
}

#header_left{
  display: inline-block;
  height: 12em;
  margin: auto 23em auto 0.5em;
  //margin-left: -3em;
  //width: 40%;
}

#header_logo {
  text-align: right;
  margin: auto;
  height: 7em;
}

#header_right {
  display: inline-block;
}

.img_nueva {
  width: 42px;
  height: 13px;
}

#in2teck_main {
  background: url('../img/in2teck_logo.png') no-repeat 100% center;
  background-size: 250px 96px;
  cursor: pointer;
  margin: 1em 0;
  height: 96px;
  width: 250px;
}

nav {
  text-align: left;
  width: 100%;
}

nav a {
  color: #4F4F4F;
  text-decoration: none;  
  padding: 0.5em;
}

nav a:hover {
  background-color: #EFEFEF;
}

nav li{
  display: inline-block;
}

nav li h1{
  display: inline-block;
  font-weight: normal;
}

nav ul{
  padding: 0;
}

p {
  margin: 0;
}

section{
}

.selected {
  background-color: #EFEFEF;
  color: #F45D11;
}

.tagline {
  font-weight: bold;
  opacity: 1;
  text-align: center;
  transition: all 0.6s ease;
}

.t_bottom {
  margin: 1.5em auto;
}

#texto{
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.6s ease;
  width: 0;
}

.t_top {
  margin: 1.5em auto;
}

#video{
  margin: auto;
}

.video_content {
  height: 18em;
  width: 32em;
}

#wrapper {
   background-color: #EFEFEF;
   width: 51.5em; 
   margin: auto;
}

@media screen and (max-width:740px) {

  aside a img {
    margin: 0 0.3em;
  }

  #blank_bottom {
    display: block;
  }

  #content {
    width: 80%;
    height: 13em;
    position: static;
  }

  header {
    position: fixed;
    top:-0.5em;
    height: 9em;
    background: inherit;
  }
  
  #header_left {
    position: relative;
    top: 5.5em;
    width: 100%;
  }

  #header_logo {
    float: left;
    width: 50%;
  }

  #header_logo img {
    margin: 0;
  }

  #header_right {
    left: 0;
    margin: 0;
    position: absolute;
    top: -20px;
    width: 100%;
  }

  #header_social {
    display: inline-block;
    margin-top: 3em;
  }

  #in2teck_main {
    background: url('../img/in2teck_t_logo.png') no-repeat 20% center;
    background-size: 180px 60px;
    margin: 1em 0;
  }

  nav {
    text-align: center;
  }

  nav ul {
    padding: 0;
  }
 
  nav li {
    width: 30%;
  }

  section {
    margin-top: 9em;
  }

  .tall {
    margin: 1em auto auto -0.7em;
    display: inline;
  }

  .t_bottom, .t_top {
    margin: 1em auto 2em;
  }

  ul {
    padding: 0 0 0 1.5em;
  }

  .video_content {
    margin-left: -1.5em;
    height: 10em;
    width: 18em;
  }

}
